*{
    margin: 0; 
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.main{
    width: 100%; 
    min-height: 100vh;
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    color:rgb(171, 131, 72);
    position: relative;
}